# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/

# Excel files with test data
#*.xlsx
#*.xls
#*.csv

# IDE specific files
.idea/
.vscode/

# Logs
*.log
